{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
body{
	background-color: black;
}
ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: blink;
	color: lightgreen;
	padding: 5px 20px;
	border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
	background-color: black;
	color: lightgreen;
}
ul li.active a{
	background-color: black;
	color: lightgreen;
}
.main{
	max-width: auto;
	margin: auto;
}
.title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h3{
	color: lightgreen;
	font-size: 60px;
	position: center;
	background: black;
}
.button{position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #000;
	padding: 1px 30px;
	color: red;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
p{
	position: absolute;
	top:52%;
	left: 5%;
	transform: transform;
	color: lightgreen;
}
b{
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: lightgreen;
}
script{
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: lightgreen;
}