{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
body{
	background-color: white;
}
.main{
	max-width: auto;
	margin: auto;
}
.title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h3{
	color: lightgreen;
	font-size: 60px;
	position: center;
	background: black;
}
h4{
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: lightgreen;
}
