{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
body{
	background-color: black;
}
.main{
	max-width: auto;
	margin: auto;
}
.title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h3{
	color: lightgreen;
	font-size: 60px;
	position: center;
}
h4{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: lightgreen;
}
.img{
	height: 50%;
	weidth: 50%;
}
