.main{
	width: 100%;
	height: 100%;
}
	body{
	background-color: black;
}
h3{
	color: lightgreen;
	font-size: 60px;
}
h4{
	color: lightgreen;
}
img{
	height: 850px;
	width: 745px;
}
p{
	color: lightgreen;
	top: 80%;
}
